<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ env.page.title }}</title>
    <meta name="description" content="{{ env.page.desc }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> -->
    <link rel="icon" href="{{ env.page.favicon }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        body {
            background: url('{{ env.page.background }}') no-repeat center center fixed;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="card light" id="user_status">
            <h3><b>{{ env.page.user }}</b> 现在:<a id="status">{{ status['name'] }}</a></h3>
            <p id="additional-info">{{ status['desc'] | safe }}</p>

            {% if env.util.steam_enabled %}
            <!-- (steam) Steam 状态模块 (iframe) -->
            {% include "steam.html" %}
            {% endif %}
            
            {% if last_updated.year == 1970 %}
            <p id="last-updated">更新失败</p>
            {% else %}
            <p id="last-updated">最后更新: {{ last_updated }} (悉尼时间)</p>
            {% endif %}
        </div>

        
    </div>
    {% if env.page.canvas %}
    <!-- (canvas) 粒子效果 -->
    <script src="{{ url_for('static', filename='canvas.js') }}" defer></script>
    {% endif %}

    <script>
        document.getElementById('status').classList.add("{{ status['color'] }}");
    </script>
    <script src="{{ url_for('static', filename='get.js') }}" defer></script>

</body>

</html>